[Desktop Entry]
Encoding=UTF-8
Name=Link to https://s-media-cache-ak0.pinimg.com/736x/5c/42/ab/5c42abe68b00268ca63845ff2b2ce14d.jpg
Type=Link
URL=https://s-media-cache-ak0.pinimg.com/736x/5c/42/ab/5c42abe68b00268ca63845ff2b2ce14d.jpg
Icon=image-jpeg
