[Desktop Entry]
Encoding=UTF-8
Name=Link to https://static35.cmtt.ru/club/0a/73/1b/742a33145e40b1.jpg
Type=Link
URL=https://static35.cmtt.ru/club/0a/73/1b/742a33145e40b1.jpg
Icon=image-jpeg
